$FONT_FAMILY: 'Roboto', 'Segoe UI', Tahoma, Verdana, sans-serif;

.Contacts {
    height: 100vh;
    width: 100%;
    max-width: 345px;
    box-sizing: border-box;
    &-List {
        max-height: calc(100vh - 69px);
        overflow-y: scroll;
        width: 100%;
        max-width: 345px;
    }
    &-SearchWrapper {
        padding: 20px 14px;
        box-shadow:
            0px 2px 4px 0px rgba(97, 97, 97, 0.2),
            0px 1px 2px 0px rgba(97, 97, 97, 0.2);
    }
    &-SearchBar {
        border-radius: 15px;
        background: #e7ecf1;
        width: 100%;
        max-width: 320px;
        font-family: $FONT_FAMILY;
        padding: 5px 0 5px 16px;
        box-sizing: border-box;
        border: none;
    }
}
